<div class="mt-4">
  <h3>Create Course</h3>

  <form class="mt-4" method="POST" action="/courses/store">
    <div class="mb-3">
      <label for="name" class="form-label">Name Course</label>
      <input type="text" class="form-control" id="name" name="name" />

      <label for="desc" class="form-label">Description</label>
      <input type="text" class="form-control" id="desc" name="desc" />

      <label for="videoId" class="form-label">Video ID</label>
      <input type="text" class="form-control" id="videoId" name="videoId" />

    </div>

    <button type="submit" class="btn btn-primary">Add Course</button>
  </form>
</div>