<div class="mt-5">
  <form method="POST">
    <div class="mb-3">
      <label for="search-input" class="form-label">Search</label>
      <input
        type="text"
        class="form-control"
        name="q"
        id="search-input"
        placeholder="Input search..."
      />
    </div>

    <div class="mb-3">
      <label for="gender-input" class="form-label">Key Word</label>
      <select class="form-control" name="gender" id="gender-input">
        <option value="">--Chosen gender--</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>

  </form>

</div>